 /*

	颜色取值： 
	粉红 #fd7776    颜色加深 #E7655F 
	绿色 #84bf41    颜色加深 #73AF2E
	悬浮绿色 #58b530   颜色加深 #739c66
	
	模块边框颜色 #dddddd
	整体背景颜色 #f9f9f9
	详细页背景颜色 #ecf0f0
  	
  */
	
	body{font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Microsoft YaHei";background-color: #f9f9f9;}
    /*.deta-bgc {background-color: #ecf0f0;}*/
	/*.deta-bgc{background-color: #ecf0f0;background: url('../images/1234.jpg');background-repeat: no-repeat;width: 100%;min-height: 800px;background-attachment: fixed;background-size: 1400px 1833px;background-position: 0px 0px;}*/
	.header{text-align: center;padding: 10px 0px;padding-top: 30px; /*border-bottom: 1px solid #dddddd;background-color: #f9f9f9;*/}
	.header .btn-group > button{font-size: 1.4em;padding: 6px 40px;}

	
	/* 单页页面样式  */
  	.YX-PG{}
  	.YX-PG .YX-tab{max-width: 1200px;margin: 0px auto;}
  	.YX-PG .YX-tab > .nav-pills > li{ margin: 10px 0px;}
  	.YX-PG .YX-tab > .nav-pills > li > a{font-size: 18px;color:#000000;}
  	.YX-PG .YX-tab > .nav-pills > li.active > a, .YX-PG .YX-tab > .nav-pills > li.active > a:focus, .YX-PG .YX-tab > .nav-pills > li.active > a:hover{text-decoration: none;background-color: transparent;color:#84bf41;}
  	.YX-PG .YX-tab > .nav-pills > li > a:focus, .YX-PG .YX-tab > .nav-pills > li > a:hover {text-decoration: none;background-color: transparent;color:#84bf41;}
  	.YX-PG .YX-tab > .nav-pills li:last-child > .btn-group{ margin-top: 5px;}
  	.YX-PG .YX-wrap{max-width: 1200px;margin: 0px auto;}
  	.YX-PG .YX-wrap .thumbnail > h4{color: #84bf41; border-bottom: 1px solid #ddd;margin: 0px -4px;padding: 10px 4px 14px 20px;font-size: 16px;}
  	.YX-PG .YX-wrap .thumbnail .caption{text-align: center;}
  	.YX-PG .YX-wrap .thumbnail .caption > h4{font-size: 16px;}
  	.YX-PG .YX-wrap .thumbnail:first-child .col-sm-4 a > img{height: 140px;}
  	.YX-PG .YX-wrap .thumbnail:first-child .col-sm-4 .svg a{background-color: #000000;display: block;}
  	
  	/* 详细页面样式  */
  	.YX-wrap-deta{max-width: 1200px;margin: 0px auto;}
  	.YX-wrap-deta > h4{color: #333; padding: 10px 4px 0px 10px;}
  	.YX-wrap-deta .thumbnail {border: none;border-radius:8px; display:block;height:auto;background-color:rgba(248, 248, 248, 0.8);}
    .YX-wrap-deta .ng-scope1{display:block;height:140px;}
  	.YX-wrap-deta .thumbnail .box{display: inline; position: relative;}
  	.YX-wrap-deta .thumbnail .box .col-sm-2{}
  	.YX-wrap-deta .thumbnail .box .col-sm-2 .row{position: relative;}
  	.YX-wrap-deta .thumbnail .box .col-sm-2 span{display: block;height: 152px;width: 152px;margin: auto;}
  	.YX-wrap-deta .thumbnail .box .col-sm-2 span img{width: 100%;height: 100%; padding: 20px;}
  	.YX-wrap-deta .thumbnail .box .col-sm-2 span .icon-cont{position: absolute;top: 0px;display: block;height: 152px;width: 152px;  text-align: center; color: #e1e5e4;}
  	.YX-wrap-deta .thumbnail .box .col-sm-2 span .icon-cont > h2{display: block;  line-height: 100px;}
  	.YX-wrap-deta .thumbnail .box .col-sm-2 span .icon-cont > i{top: -40px;font-size: 1.5em;}
  	.YX-wrap-deta .thumbnail .box .col-sm-10{height: 152px;}
  	.YX-wrap-deta .thumbnail .col-sm-10 .caption{text-align: left;max-height: 152px;overflow: hidden;}
  	.YX-wrap-deta .thumbnail .col-sm-10 .caption > h4{margin-top: 20px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
  	.YX-wrap-deta .thumbnail .col-sm-10 .caption > p{color: #cccccc;font-size: 16px;}
  	.YX-wrap-deta .thumbnail .col-sm-12 .caption{text-align: left;min-height: 161px;overflow: hidden;}
  	.YX-wrap-deta .thumbnail .col-sm-12 .caption a{ text-decoration: none; cursor: pointer; color: #333;}
  	.YX-wrap-deta .thumbnail .col-sm-12 .caption > h4{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
  	.YX-wrap-deta .thumbnail .col-sm-12 .caption > span{color: #cccccc;font-size: 16px;}
  	.YX-wrap-deta .thumbnail .col-sm-12 .caption > span + span{margin-left:20px;}
  	.YX-wrap-deta .thumbnail .col-sm-12 .caption > span > i{margin-right:10px;}


  	
  	/* 按钮颜色改变  */
  	.btn-group  button[class^="btn-"]{
  		
  	}
  	.btn-success {
		color: #FFF;
		background-color: #84bf41;
		border-color: #73AF2E;
	}
	.btn-success:hover {
	    color: #FFF;
	    background-color: #58b530;
	    border-color: #739c66;
	}
  	
