@charset "utf-8";
/* CSS Document */



/* 全局定义 */
ol, ul { list-style-type:none;}
@font-face{font-family: YaHei;src:url(fonts/微软雅黑.ttf);}



/* 背景图片定义 */
body{background-color:#FFF/*#e4e6e8*/;position: absolute;margin: 0px;top: 0px;bottom: 0px;left: 0px;right: 0px;font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";}
#loginbg{background:url("../images/login-bg-g.png");background-attachment:fixed;background-size:contain;}

.form-control, .form-control:focus, .has-error .form-control:focus, .has-success .form-control:focus, .has-warning .form-control:focus, .navbar-collapse, .navbar-form, .navbar-form-custom .form-control:focus, .navbar-form-custom .form-control:hover, .open .btn.dropdown-toggle, .panel, .popover, .progress, .progress-bar {box-shadow: none;}

.input-group-addon {background-color: #fff;border: 1px solid #E5E6E7;border-radius: 1px;color: inherit;font-size: 14px;font-weight: 400;line-height: 1;padding: 6px 12px;text-align: center;}
.dropdown-menu .divider{margin: 5px 0;}
.bgc{background-color: #F9F9F9; background-image: none;}
.disn{display: none;}

.hr-line-dashed {border-top: 1px dashed #e7eaec;color: #ffffff;background-color: #ffffff;height: 1px;margin: 10px 0;}
.ibox-content th{ text-align:right; margin-right:5px; padding-left:15px; color:#333; font-size:14px;}
.ibox-content td{ text-align:left; margin-left:5px; padding:15px; font-weight:normal;}
.btn-white {color: inherit;background: white;border: 1px solid #e7eaec; height: 34px;}
.form-control, .single-line {background-color: #FFFFFF;background-image: none;border: 1px solid #e5e6e7;border-radius: 1px;color: inherit;display: block;padding: 6px 12px;transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;width: 100%;font-size: 14px;font-weight: 200;}
.m-b{margin-bottom: 15px;}

/* ============== login start ============== */

/* 顶部nav */

.setup{color:#fff;font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";font-size:20px; font-weight:200;right: 15px;top: 5px;position: relative;}
.cut{background-color: #CCCCCC; width: 1px; height: 22px;}
.logo{display: inline-block;width: 80px; height: 22px; padding: 0px !important; margin-top: 12px;}
.tlogo{color: #333333; font-size: 20px;}


nav .nav > li > a{background-color: transparent !important;height: 52pxs;}
nav .nav .username{font-size: 14px; color:#fff;font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";font-weight: 200; color: #666666;}
nav .nav .appcenter{font-size: 20px; color:#fff;font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";font-weight: 600; color: #333333 !important;}
#loginbg .set > .nav:first-child{float:left;}
#loginbg .tlogo{color:#fff;margin-left: -15px;}
#loginbg nav .nav .username{color:#fff;}
nav .nav i{color: #FFFFFF;}
nav .nav .dropdown-menu{border-radius: 5px;}
nav .nav .dropdown-menu > li > a{text-align: left;font-size: 14px;font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";font-weight: 200;  cursor: pointer;}
nav .nav .dropdown-menu > li > a > i{color: #333;}
nav .nav .dropdown-menu > li .arrow-up {background-image: url(../images/icon_triangle.png);background-repeat: no-repeat;  background-position: center bottom; background-size: 100%;position: absolute;width: 32px;height: 14px;margin-top: -19px; margin-bottom: 4px; margin-left: 72px;}
nav .nav .list-menu{left:-60px;top: 51px;}
nav .nav .list-menu li .arrow-up{ margin-left: 150px;}
nav .navbar-right .dropdown-menu{left: 10px; top: 51px;}

/* 顶部nav 右边的东西 */
.set .navbar-right{}
.set .navbar-right .remind{ padding: 10px 15px;font-size: 20px; font-weight: 200;}
.set .navbar-right .remind a{text-decoration: none; position: relative;  height: 30px; line-height: 24px; cursor: pointer; display: block;}
.set .navbar-right .remind a i{ vertical-align: middle;}
.set .navbar-right .remind > div a span{ color: #ffffff !important; font-size: 12px; padding: 3px; background-color: #ff9900; border-radius: 5px; vertical-align: bottom; line-height: 20px;}
.set .navbar-right .remind .dropdown-menu{ width: 300px; margin-left: -200px;}
.set .navbar-right .remind .dropdown-menu .arrow-up{ margin-left: 210px;}
.set .navbar-right li .cut{margin-top:14px;}
.set .navbar-right li .quest{padding: 14px;}
.set .navbar-right li .quest a{ display: inline-block;}
.set .navbar-right .user{ margin-right: -10px; margin-left: 15px;}
.set .navbar-right .user > a{display: inline-block;}
.set .navbar-right .user .user-img{width: 36px;height: 36px;float: left;display: inline-block;border-radius: 50%;overflow: hidden; margin-top: 6px; margin-right: -5px; cursor: pointer;}






/* 登录box */
#login-box{ margin-top: 15%;position: relative; z-index: 2;}

/* 登录标题 */
#login-box .login-title{color:#fff;font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";letter-spacing: 10px;text-align: center;}
#login-box .login-img{ width: 300px;height: 65px;margin: auto;overflow: hidden;}
#login-box .login-img a{display: inline-block; width: 300px;}

/* 登录盒子 */
.form-login{left: 0px;width: 480px;height: 200px;top: 0px;margin: auto;text-align: center;margin: auto;text-align: center;color:#fff;position: relative; padding-top: 30px;}

/* 登录输入框 */
.form-login .form-control{width:300px; margin:auto;box-sizing: border-box;overflow: hidden;line-height: inherit;border: none;border-radius: 0px; background-color: transparent; box-shadow:none;position: relative;z-index: 2;font-size: 20px;font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";font-weight:200;margin-top: 14px;  margin-bottom: 14px;}


/* 登录背景与分割线 */
.form-back{top: -170px;height: 108px;width: 322px;border: 1px solid rgba(0, 0, 0, 0.1);border-radius: 6px;background: none repeat scroll 0% 0% padding-box rgba(255, 255, 255, 0.75);position: relative;z-index: 1;margin: auto;}
.form-back .form-back-hr{position: absolute;top: 54px;left: 0px;right: 0px;height: 1px;background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.1);}

/* 登录按钮 */
.form-login .login-btn{left: 365px;top: 100px;z-index: 30;width: 26px;height: 26px;display: block;position: absolute; cursor: pointer;}
.form-login .login-btn > .image {display: none;pointer-events: none;position: absolute;left: 0px;top: 0px;width: 100%;height: 100%;}
.form-login .login-btn .disabled{display: block;}
.form-login .login-btn:hover .disabled{display: none;}
.form-login .login-btn:hover .focused{display: block;}

/* 登录复选框 */
.form-login > .checkbox{ padding-top: 10px;font-size: 18px;font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";}
.form-login > .checkbox label{height: 28px;line-height: 28px;}
.form-login > .checkbox input[type=checkbox] {width:20px;height:20px;margin: 6px 0px 0px -30px;padding: 0;display:inline-block;cursor: pointer;}


#bg-purdah{top: 0px;left: 0px;width: 100%; height: 100%;  position: absolute; background-color: transparent; z-index: 1; display: block;}

.blur {	
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    
    -webkit-filter: blur(50px); /* Chrome, Opera */
       -moz-filter: blur(50px);
        -ms-filter: blur(50px);    
            filter: blur(50px);
    
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=50, MakeShadow=false); /* IE6~IE9 */
}
:root .blur {
    display: none; /* IE9+, Firefox, Chrome, Opera - hidden */
    filter: none; /* no IE9 */
}

/* ============== login end ============== */





/* ============== index start ============== */

/* 主页图标  */
#index-box{top: 0px; left: 0px; width: 100%; height: 100%; position: absolute;padding: 60px 0px;}
#index-box .container .row{}
#index-box .container .row > div{ transition:2s}
#index-box .container .row .col-xs-6{text-align: center;padding-top: 15px;padding-bottom: 55px;}
#index-box .container .row .col-xs-6 a{display: inline-block;max-width: 142px;height: auto;margin: auto;}
#index-box .container .row .col-xs-6 a:hover{ text-decoration: none;}
#index-box .container .row .col-xs-6 a img{ display: inline-block; cursor: pointer;box-shadow: 0px 0px 51px rgba(0, 0, 0,0.2);border-radius: 25%;overflow: hidden;}



/* 主页图标文字 */
#index-box .title-text{ margin-top: 10px; font-size: 18px;color: #FFF; text-align: center;font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";font-weight: 200;}
#index-box .title-text span{text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); cursor: pointer;}


/* ============== index end ============== */




/* ============== list start ============== */

#list-box{height: 100%;}
#list-left{ background-color: #e4e6e8;width:240px;padding-right: 15px;padding-left: 15px; height:100%}
#list-left > .row .navbar-collapse{ height: 52px; border-right: 1px solid #c2c4c5;border-bottom: 1px solid #c2c4c5;}
#list-left > .row .navbar-collapse ul li a span{color: #666666; font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";}
#list-left > .row .navbar-collapse ul li a i{color:#666666;}
#list-left > .row .navbar-collapse .nav{border: none;}
#list-left > .row .navbar-collapse .navbar-nav li:first-child > a{padding-right: 0px; height: 22px; line-height: 22px;}
#list-left > .row .navbar-collapse .tlogo{color: #333333; margin-left: -15px;}


/* 列表左边的导航上的标题  */
#list-left > .row .title{ height: 70px;line-height: 70px;font-size: 14px;font-weight: 600;border-bottom: 1px solid #c5c5c5; background-color: rgba(204, 208, 212,1); text-align: center;padding-right: 7px;  cursor: default; font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";}

/* 列表左边的导航  */
#list-left > .row .nav{border-right: 1px solid #c2c4c5;}
#list-left > .row .nav > ul{padding: 0px;}
#list-left > .row .nav > ul li{height: 44px;line-height: 44px;padding-right: 15px;border-bottom: 1px solid #d4d4d4;box-shadow: 0px 1px 0px #ebecee;overflow: visible;z-index: -2;}
#list-left > .row .nav > ul li:hover, #list-left > .row .nav > ul li:focus{background-color: rgba(204, 208, 212, 0.5);}
#list-left > .row .nav > ul li a{padding: 0px; cursor: default; display: block; color: #333; text-align: center;text-rendering: auto;white-space: nowrap;text-overflow: ellipsis;-o-text-overflow: ellipsis;-ms-text-overflow: ellipsis;overflow: hidden;font-size: 14px;white-space: pre; cursor: pointer;font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";}
#list-left > .row .nav > ul li a:hover{text-decoration: none;}
#list-left > .row .nav > ul .active{ background-color:#f9f9f9;margin-top: -1px;margin-left: 0px;padding-left: 10px;padding-right: 15px;box-shadow: none;border-top: 1px solid #c5c5c5;border-right: 1px solid #f9f9f9;border-bottom: 1px solid #c5c5c5;z-index: -1; padding-right: 23px; margin-right: -1px; height: 46px; line-height: 46px;}
#list-left > .row .nav > ul .active a{text-decoration: none;}
#list-left > .row .nav > ul .active:hover, #list-left > .row .nav > ul .active:focus{background-color:#f9f9f9;}


#list-right{ background-color: #f9f9f9;}
#list-right > .row > .navbar-collapse{ border-bottom: 1px solid #c2c4c5;}
#list-right > .row > .navbar-collapse ul li a span{color:#666666;}
#list-right > .row > .navbar-collapse ul li a i{color:#666666;}

#list-right .article{ display: inline-block;}

#list-right .list-three{background-color: #f9f9f9;border-right: 1px solid #c2c4c5;width:250px;padding-right: 15px;padding-left: 15px;position: absolute;z-index: 2;float: left;}
#list-right .list-three .navbar-collapse{height: 53px;}
#list-right .list-content{background-color: #f9f9f9;padding-left: 265px;position: relative;z-index: 1;float: left; width: 100%}
#list-right .list-three > .row .navbar-collapse{ border-bottom: 1px solid #c2c4c5}
#list-right .list-three > .row .navbar-collapse ul li a span{color:#007aff;}
#list-right .list-three > .row .navbar-collapse ul li a i{color:#007aff;}
#list-right .list-content > .row .navbar-collapse{ border-bottom: 1px solid #c2c4c5;}
#list-right .list-content > .row .navbar-collapse ul li a span{color:#007aff;}
#list-right .list-content > .row .navbar-collapse ul li a i{color:#007aff;}

/* 手机模式下导航定义 */
#list-right .row .navbar-collapse .navbar-header{height: 52px;line-height: 52px;}
#list-right .row .navbar-collapse .navbar-header .tlogo{ padding: 15px; display: table; position: relative;height: 52px;line-height: 52px;float:left;}
#list-right .row .navbar-collapse .navbar-header .username{position: relative;display: table;margin-top: 2px;color:#333333;font-size: 14px;font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";font-weight: 200;}
#list-right .row .navbar-collapse .navbar-header .appcenter{position: relative;display: inline-block;color:#333333;font-size: 20px;font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";font-weight: 600;}
#list-right .row .navbar-collapse .navbar-header .navbar-toggle{ border: 1px solid #ddd;background-color: transparent;}
#list-right .row .navbar-collapse .navbar-header .navbar-toggle .icon-bar{ background-color: #888;}
#list-right .row .navbar-collapse .navbar-default {background-color: #F6F6F6;border-color: #ddd;}
#navbar .navbar-nav li + li{border-top: 1px solid #eeeeee;}
#navbar .navbar-nav li:hover, #navbar .navbar-nav li:focus{background-color: #e7e7e7;}




#dropdown-nav-index{  padding: 15px;margin: 0px 5px;border-radius: 6px;display: inline-block;max-width: 860px;border: 1px solid rgb(230, 230, 230);border-radius: 4px;}
#dropdown-nav-index > div{padding: 15px; max-width: 150px; height: auto; text-align: center;}
#dropdown-nav-index > div > a{display: inline-block;max-width: 100px; height: auto;}
#dropdown-nav-index > div > a:hover{text-decoration: none;}
#dropdown-nav-index > div > a img{ display: inline-block; cursor: pointer;border: 1px solid #ddd;border-radius: 25%;}
#dropdown-nav-index > div > a .title-text{margin-top: 10px; white-space: nowrap;}
#dropdown-nav-index > div > a .title-text span{color: rgb(60, 60, 60) !important;}
#dropdown-nav-index > div > a .title-text .active{ position: relative; padding: 4px 10px;z-index: 7;background: #ecf7ff;border-radius: 20px;border: 1px solid #b6d9ff;color: #1573fb !important;}


#dropdown-nav-main{  padding: 15px;margin: 0px 5px;border-radius: 6px;display: inline-block;max-width: 860px;border: 1px solid rgb(230, 230, 230);border-radius: 4px;}
#dropdown-nav-main > div{padding: 15px; max-width: 150px; height: auto; text-align: center;}
#dropdown-nav-main > div > a{display: inline-block;max-width: 100px; height: auto;}
#dropdown-nav-main > div > a:hover{text-decoration: none;}
#dropdown-nav-main > div > a img{ display: inline-block; cursor: pointer;border: 1px solid #ddd;border-radius: 25%;}
#dropdown-nav-main > div > a .title-text{margin-top: 10px; white-space: nowrap;}
#dropdown-nav-main > div > a .title-text span{color: rgb(60, 60, 60) !important;}
#dropdown-nav-main > div > a .title-text .active{ position: relative; padding: 4px 10px;z-index: 7;background: #ecf7ff;border-radius: 20px;border: 1px solid #b6d9ff;color: #1573fb !important;}



/* #article定义 */
#article{padding-left: 20px !important; padding-right: 20px !important;}
#article > section h2, #article > section h3, #article > section h4, #article > section h5{font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";font-weight: 200;}
#article > section .container-fluid .title .dropdown{float:left;margin-top:8px;margin-bottom:8px;}
#article > section .container-fluid .title .dropdown + .navbar-form{padding-left:10px;}
#article > section .container-fluid .title .edit{ margin-top: 8px; margin-bottom: 8px;}
#article > section .container-fluid .title .edit button + button{margin-left:10px;}
#article > section .container-fluid .title .navbar-form .form-group + button{margin-left:5px;}
#article > h1, #article > h2, #article > h3, #article > h4, #article > h5{ margin-top: 15px; margin-bottom: 15px;  border-bottom: 1px solid rgb(221, 221, 221); padding-bottom: 15px;}
#article > h1, #article > h2, #article > h3, #article > h4, #article > h5{ margin-top: 15px; margin-bottom: 15px;  border-bottom: 1px solid rgb(221, 221, 221); padding-bottom: 15px;}
#article > section .container-fluid h2, #article > section .container-fluid h3, #article > section .container-fluid h4, #article > section .container-fluid h5 {margin-top: 15px;margin-bottom: 15px;border-bottom: 1px solid rgb(221, 221, 221);padding-bottom: 15px;}
.panel-heading > h2, .panel-heading > h3, .panel-heading > h4, .panel-heading > h5{  border-bottom-style: /*dashed !important;*/}
h2 > i, h3 > i, h4 > i, h5 > i{border-left: 4px solid #666666; padding-left: 15px;}
#article > section .container-fluid button i{ margin-right: 5px;}
#article > section > .container-fluid{ padding-top: 15px; padding-bottom: 15px;}
#article > section > .container-fluid > .table-responsive{width: 100%;}
.alert + .clearfix{margin-top: -10px;}

/* table定义 */
table > thead > tr > th {font-weight: normal;color: #999;background-color: #F5F6FA;border-bottom-width: 1px !important;}
table > thead > tr > th:first-child, table > tbody > tr > th, table > tfoot > tr > th{text-align: center;}
table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > tbody > tr > td, table > tfoot > tr > td{border-left: none 0 !important; border-right: none 0 !important;}
table > tbody > td, table > tbody > tr{  background-color: #ffffff;}
table > tbody > tr:hover, table > tbody > tr:focus{background-color: #F9F9F9}
table > tfoot > tr > th, table > tfoot > tr > td{font-weight: normal;color: #999;background-color: #F5F6FA;}
table > tfoot > tr > th{vertical-align: middle !important;}
.operat{padding: 3px;}
.operat button{float:left; margin: 5px;margin-bottom: 5px !important;}

.new-hand-box {border: 1px solid #E3E8EC;background: #FFF;padding: 12px 20px;}
.new-hand-box a{cursor: pointer;}


.ibox{padding-top: 15px;}
.ibox-content{ border: 1px solid #ddd; background-color: #fff; padding: 15px;}



.tabs-box{}
.tabs-box.nav-tabs{
  background-color: #F9F9F9;
}
.tabs-box>.nav-tabs>li {
  margin-left: -1px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background-color: #eee;
  z-index: 1;
}
.tabs-box>.nav-tabs>li.active>a, .tabs-box>.nav-tabs>li.active>a:hover, .tabs-box>.nav-tabs>li.active>a:focus {
  border-top: 2px solid #00a2ca;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid #F9F9F9;
  background-color: #F9F9F9;
  color: #333;
}
.tabs-box>.nav-tabs>li>a, .tabs-box>.nav-tabs>li>a:focus {
  color: #666;
  border: 2px solid #eee;
  border-left: 0px;
  border-right: 0px;
  margin-right: 0px;
  padding: 10px 16px;
  border-bottom: 0px;
  background-color: #eee;
}
.tabs-box>.nav-tabs>li>a, .tabs-box>.nav-tabs.nav-justified>li>a {
  border-radius: 0px 0px 0px 0px;
}
/* ============== list end ============== */


/* 底部分页  */
#paging ul li a{color:#333;}
#paging ul .active a{color:#fff;}
#paging .pagination{ margin-top: 5px; margin-bottom: 5px;}


/* 底部页脚 */
footer{left: 0px;right: 0px;bottom: 0px;height: 38px;opacity: 1;text-align: center;overflow: visible !important;#index-box .container .row .col-xs-6 acursor: default;position: absolute;z-index: 0;margin: 0px;border: 0px solid transparent;-moz-user-select: none;}
footer .container-fluid .text-muted .copyright{font-size: 13px;color: rgba(255, 255, 255, 0.8);text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);}
footer .container-fluid .text-muted .copyright:hover{color: #FFF;}
.tableedit tr{ height:40px; line-height:40px;}
.tableedit tr th{ text-align:right; margin-right:5px;}
.table_head th{ background-color:#F5F6FA; color:#999; font-weight:normal; font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";}
.ifrstyle{ width:100%; height:100%; min-height:350px;}






/* ============== 风屏定义 start ============== */

@media (max-width: 767px) {
	.form-back{width: 280px;}
	.form-login{width: 280px;}
	.form-login .form-control{width: 280px;}
	.form-login .login-btn{left: 240px;}
	.text-muted{padding: 0px;}
	footer .container-fluid .text-muted .copyright{white-space: nowrap;}
	#loginbg .set > .nav:first-child{margin-left: -30px;}
	.navbar-nav .open .dropdown-menu{background-color: #fff; margin-top: 10px;float: left;}
	nav .nav .dropdown-menu > li .arrow-up{ margin-left: 88px;}
	.set .navbar-right {float: right;margin: 4.5px -30px 4.5px -15px;}
	.set .navbar-right li{float: left;}
	.set .navbar-right .user{width: 130px;margin-right: 0px;}
	.set .navbar-right .user a{padding-right: 0px;}
	.set .navbar-right .user .user-img{margin-top: 5px;margin-right: 0px;}
	.set .navbar-right li .cut{ margin-top: 9px; margin-left: -15px;}
	.set .navbar-right li .quest{ margin-top: -5px; margin-left: -15px;}
	#list-right .list-three{width: 120px;}
	#list-right .list-content{padding-left: 135px;}
	#index-box{padding: 60px 0px;}
	#index-box .container{padding-right: 45px;padding-left: 45px;}
	#index-box .container .row .col-xs-6 { padding-bottom: 20px;}
	#index-box .container .row .col-xs-6 a{max-width: 80px;}
	#index-box .title-text span{font-size: 14px;}
	#article > section .container-fluid .navbar-form .form-group{ padding-right: 60px;}
	#article > section .container-fluid .navbar-form .btn-default{ float: right; margin-top: -39px;}
	footer{display: none;}
	/*table tbody button + button{margin-left:5px;}*/
	
}
@media (max-width: 1024px) {
	#list-left{position: fixed !important;}
}
@media (min-width: 768px) and (max-width: 1409px) {
	/*table tbody button + button{margin-top:10px;}*/
}
@media (min-width: 768px){
	#list-left{position: absolute;z-index: 2;float: left;}
	#list-right{ padding-left: 255px;position: relative;z-index: 1;float: left; width: 100%}
	#list-right .list-three{}
	#list-right .list-three .navbar-collapse{height: 53px;}
	#list-right .list-content{}
	#list-right .list-content .navbar-collapse{height: 53px;}
	#article > section .container-fluid .title{ float: right;}
	table > thead > tr > th, table > tbody > tr > th, table > tbody > tr > td{vertical-align: middle !important;}
}
@media (min-width: 1410px){
	/*table tbody button + button{margin-left:5px;}*/
}

/* ============== 风屏定义 end ============== */









/* ============== divIE8 start ============== */

#divIE8{ width: 100%; height: 58px; line-height:58px; font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei"; font-weight: 200; font-size: 1.4rem; color: #fff; position: fixed; z-index: 10; background: #4684b2; filter: alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity:0.8;opacity:0.8; text-align:center; trtransition: opacity 1.5s;}


/* ============== divIE8 end ============== */













